@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root[data-theme="dark"] {
  --primary: #3e3e3b;
  --secondary: #f4f4f1;
  --accent: #eeb035;
  --font: "Open Sans", sans-serif;
  --padding: 5rem;
  --padding_l: 10rem;
  --border_radius: 1rem;
}

:root[data-theme="light"] {
  --primary: #f4f4f1;
  --secondary: #3e3e3b;
  --accent: #eeb035;
  --font: "Open Sans", sans-serif;
  --padding: 5rem;
  --padding_l: 10rem;
  --border_radius: 1rem;
}

body {
  background-color: var(--primary);
}

h1,
h2,
h3,
h4 {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
}

p,
a,
button,
li,
label {
  color: var(--secondary);
  font-family: var(--font);
  font-weight: 300;
}

img {
  max-width: 100%;
  border-radius: var(--border_radius);
}

/*NAV*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--primary);
}

nav a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: var(--accent);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 70px;
  margin-right: 70px;
}

nav button {
  border: none;
  background-color: var(--accent);
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: var(--border_radius);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

nav button:hover {
  background-color: var(--primary);
}

@media screen and (max-width: 1200px) {
  nav ul {
    display: none;
  }

  nav button {
    display: block;
  }
}

/*HEADER*/

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding);
  padding: var(--padding);
}

@media (max-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: var(--padding);
    padding: 2rem;
  }
}

header button {
  border: none;
  background-color: var(--accent);
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: var(--border_radius);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

header button:hover {
  background-color: var(--primary);
}

/*ADVANTETAS*/

#advantages {
  text-align: center;
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding);
  padding: var(--padding);
}

.advantages_card {
  min-height: 500px;
  background-color: var(--primary);
  border-radius: var(--border_radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.advantages_card img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages_card h3 {
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-top: 1rem;
  color: var(--secondary);
  font-size: 1.5rem;
}

.advantages_card p {
  padding-left: var(--padding);
  padding-right: var(--padding);
  font-size: 1rem;
}

/*PRODUCT*/

#product_section h2 {
  text-align: center;
}

#product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding);
  padding: var(--padding);
}

/*HIGHLIGHT*/

#highlight h2 {
  text-align: center;
  padding-left: var(--padding_l);
  padding-right: var(--padding_l);
}

.highlight_small_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding);
  padding: var(--padding_l);
}

.highlight_small_cards div {
  padding-top: 1rem;
  background-color: var(--primary);
  border-radius: var(--border_radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 800px) {
  #highlight h2 {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .highlight_small_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: var(--padding);
    padding: var(--padding);
  }
}

/*TEAM*/

#team article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding);
  padding: var(--padding);
}

#team h2 {
  grid-column: 1/3;
  text-align: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.team_text ul {
  list-style: none;
}

.team_text ul li {
  margin-bottom: 1rem;
}

.team_text a {
  text-decoration: none;
  display: inline-block;
  background-color: var(--accent);
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: var(--border_radius);
  transition: all 0.2s ease-in-out;
}

.team_text a:hover {
  background-color: var(--primary);
}

/*CONTACT*/

#contact h2 {
  text-align: center;
}

#contact p {
  text-align: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

#contact_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_group:nth-child(3) {
  grid-column: 1/3;
}

.form_group:nth-child(4) {
  grid-column: 1/3;
}

@media screen and (max-width: 1000px) {
  #contact_form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  .form_group:nth-child(3) {
    grid-column: 1/2;
  }

  .form_group:nth-child(4) {
    grid-column: 1/2;
  }
}

label,
button {
  font-size: 1.2rem;
  font-weight: bold;
}

input,
textarea,
button {
  border-radius: var(--border_radius);
  border: none;
  padding: 10px;
  font-size: 1.1rem;
}

button[type="submit"] {
  background-color: var(--accent);
  color: var(--secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: var(--border_radius);
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: var(--primary);
}

/* FOOTER */

footer {
  background-color: var(--primary);
  color: var(--secondary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: var(--padding);
  justify-content: center;
  align-items: center;
}

footer ul,
footer section div ul {
  list-style: none;
  margin: 0;
}

footer a {
  text-decoration: none;
}

footer section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: var(--padding);
  padding-top: var(--padding);
}

footer section div ul li {
  margin-bottom: 0.5rem;
}

footer section div ul li a:hover {
  color: var(--accent);
}
